
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
.vs/
obj/

# Visual Studio Code - specific ignores
.vscode

# Linux-specific ignores (Dolphin)
.directory

